{% extends 'ad-header.html' %}
{% load staticfiles %}


{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin-panel.css' %}">
{% endblock %}


{% block content %}
    <!--search card-->
    <div class="uk-position-center uk-text-center" uk-scrollspy="cls: uk-animation-slide-bottom; target: > div ; delay: 0; repeat: false">
        <div class="uk-card uk-card-default uk-card-body width uk-border-rounded">
            <h3 class="uk-card-title">جستجو دانشجو</h3>
            <hr/>
            <div class="uk-margin">
                <form class="uk-search uk-form-width-large">
                    <span class="uk-search-icon-flip uk-margin-right" uk-search-icon></span>
                    <input class="uk-search-input uk-form-large " type="search" placeholder="شماره دانشجویی...">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
