{% extends "admin-header.html" %}
{% load staticfiles %}

{% block admin_header %}
    <link rel="stylesheet" href="{% static 'css/admin-panel.css' %}">
{% endblock %}

{% block admin_content %}
    <div id="header"></div>
    <!--search card-->
    <div class="uk-position-center uk-text-center" uk-scrollspy="cls: uk-animation-slide-bottom; target: > div ; delay: 0; repeat: false">
        <div class="uk-card uk-card-default uk-card-body width uk-border-rounded">
            <h3 class="uk-card-title">جستجو دانشجو</h3>
            <hr/>
            <div class="uk-margin">
                <form class="uk-search uk-form-width-large" method="get" action="{% url 'View Student' %}">
                    <span class="uk-search-icon-flip uk-margin-right" uk-search-icon></span>
                    <input class="uk-search-input uk-form-large" required name="search" type="number" placeholder="شماره دانشجویی و اینتر...">
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
