{% extends "admin-header.html" %}
{% load staticfiles %}

{% block admin_header %}
    <link rel="stylesheet" href="{% static 'css/template.css' %}">
    <script>
        $(document).ready(function() {
            $('a.edit').click(function () {
                var dad = $(this).parent().parent();
                dad.find('.rec-name').hide();
                dad.find('.edit-input').fadeIn().focus();
            });

            $('.edit-input').focusout(function() {
                var dad = $(this).parent();
                var dad2 = $(this).parent().parent();
                $(this).hide();
                dad2.find('.rec-name').fadeIn();
            });
        });
    </script>
{% endblock %}


{% block admin_content %}
    <div class="uk-grid-small padding" uk-grid uk-scrollspy="cls: uk-animation-slide-bottom; target: > div ; delay: 0; repeat: false">
        <div class="uk-width-1-3@m">
            <div class="uk-width-1-1 uk-margin-top">
                <div class="uk-card uk-card-body uk-border-rounded">
                <h3 class="uk-card-title">تغیر رمزعبور</h3>
                <hr>
                <form class="uk-form-stacked" method="post" action="{% url 'Admin Change Password' %}">
                    <!--password-->
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input required name="old_password" class="uk-input uk-form-width-large" placeholder="رمزعبور فعلی" type="password">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                        </div>
                    </div>

                    <!--password-->
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input required name="new_password" class="uk-input uk-form-width-large" placeholder="رمزعبور جدید" type="password">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                        </div>
                    </div>

                    <!--password-->
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input required name="repeat_password" class="uk-input uk-form-width-large" placeholder="تکرار رمزعبور" type="password">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                        </div>
                    </div>
                    <!--submit-->
                    <div class="uk-margin">
                        <button class="uk-button uk-width-1-1 uk-box-shadow-hover-xlarge ubuntu-btn">تغییر
                            <span uk-icon="icon: pencil"></span>
                        </button>
                    </div>

                    {% csrf_token %}
                </form>
            </div>
            </div>
        </div>
        <div class="uk-width-1-3@m">
            <div class="uk-width-1-1 uk-margin-top">
                <div class="uk-card margin-top uk-card-body uk-border-rounded">
                    <h3 class="uk-card-title">مشاهده و تغییر مدرک اصلی</h3>
                    <hr>
                    <table class="uk-table uk-table-divider rec-table uk-overlay">
                        <thead>
                        <tr>
                            <th>نام مدرک</th>
                            <th>تغییر مدرک</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for i in primary_docs %}
                                <tr>
                                    <td class="rec-name">{{ i.name }}</td>
                                    <td class="edit-input">
                                        <form method="post" action="{% url 'Edit Main Doc' %}">
                                            <input type="hidden" name="id" value="{{ i.id }}">
                                            <input name="name" value="{{ i.name }}" class="edit-input edit-input-style">
                                            {% csrf_token %}
                                        </form>
                                    </td>
                                    <td>
                                        <a class="edit edit-style" uk-icon="icon: file-edit"></a>
                                        <a onclick="return confirm('آیا مطمئن هستید؟')" href="{% url 'Delete Main Doc' %}?id={{ i.id }}" class="edit-style" uk-icon="icon: trash"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="uk-width-1-3@m">
            <div class="uk-width-1-1 uk-margin-top">
                <div class="uk-card margin-top uk-card-body uk-border-rounded">
                <h3 class="uk-card-title">اضافه کردن مدرک اصلی</h3>
                <hr>
                <form class="uk-form-stacked" method="post" action="{% url 'Add Main Doc' %}">

                    <!--paper-->
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input name="name" class="uk-input uk-form-width-large" placeholder="نام مدرک">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: tag"></span>
                        </div>
                    </div>

                    <!--submit-->
                    <div class="uk-margin">
                        <button class="uk-button uk-width-1-1 uk-box-shadow-hover-xlarge ubuntu-btn">اضافه
                            <span uk-icon="icon: plus"></span>
                        </button>
                    </div>

                    {% csrf_token %}
                </form>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
