<!doctype html>
<html class="no-js" lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>دانشکده شهید شمسی پور</title>
    <meta name="description" content="اولین بایگانی آنلاین دانشکده فنی شهید شمسی پور">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="author" content="Ashkan Dehbashi | dhs.ashkan@gmail.com">
    <meta name="theme-color" content="#0C76BF">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!--css-->
    <link rel="stylesheet" href="css/admin-panel.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/uikit.min.css" />
    <!--js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit-icons.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#header').load('admin-header.html');
        });
    </script>
</head>
<body>
    <div id="header"></div>
    <!--search card-->
    <div class="uk-position-center uk-text-center" uk-scrollspy="cls: uk-animation-slide-bottom; target: > div ; delay: 0; repeat: false">
        <div class="uk-card uk-card-default uk-card-body width uk-border-rounded">
            <h3 class="uk-card-title">جستجو دانشجو</h3>
            <hr/>
            <div class="uk-margin">
                <form class="uk-search uk-form-width-large">
                    <span class="uk-search-icon-flip uk-margin-right" uk-search-icon></span>
                    <input class="uk-search-input uk-form-large" type="search" placeholder="شماره دانشجویی...">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
