<!doctype html>
{% load staticfiles %}
<html class="no-js" lang="fa">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>دانشکده شهید شمسی پور</title>
        <meta name="description" content="اولین بایگانی آنلاین دانشکده فنی شهید شمسی پور">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="author" content="Ashkan Dehbashi | dhs.ashkan@gmail.com">
        <link rel="apple-touch-icon" href={% static "favicon.ico" %}>
        <link rel="icon" type="image/x-icon" href={% static "favicon.ico" %}>
        <!--css-->
        <link rel="stylesheet" href={% static "css/fonts.css" %}>
        <link rel="stylesheet" href={% static "css/uikit.min.css" %}>
        <link rel="stylesheet" href={% static "css/snackbar.css" %}>
        <!--js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit.min.js"></script>
        {% block header %}{% endblock %}
        <style>
            .uk-notification-message{
                border-radius: 5px;
            }
        </style>
    </head>
    <body>
        {% block uploader %}{% endblock %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit-icons.min.js"></script>

        <script>
            {% if message.error %}
                UIkit.notification(
                    "<span uk-icon='icon: ban'></span> {{ message.error }}",
                    {
                        pos: 'bottom-center',
                        status:'danger'
                    }
                );
            {% elif message.done %}
                UIkit.notification(
                    "<span uk-icon='icon: check'></span> {{ message.done }}",
                    {
                        pos: 'bottom-center',
                        status:'success'
                    }
                );
            {% endif %}
        </script>

        {% block content %}{% endblock %}
    </body>
</html>