{% extends "admin-header.html" %}
{% load staticfiles %}

{% block admin_header %}
    <link rel="stylesheet" href="{% static 'css/template.css' %}">
{% endblock %}

{% block admin_content %}
<div class="uk-grid uk-grid-small padding" uk-grid uk-scrollspy="cls: uk-animation-slide-bottom; target: > div ; delay: 0; repeat: false">
    <div class="uk-width-1-3@m">
        <div class="uk-width-1-1 uk-margin-top">
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                <h3 class="uk-card-title">اضافه کردن دانشجو</h3>
                <hr/>
                <form class="uk-form-stacked" style="margin-top: 32px;" method="post" action="{% url 'Add Student' %}">

                    <!--name-->
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input name="first_name" class="uk-input uk-form-width-large" placeholder="نام">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
                        </div>
                    </div>

                    <!--Family-->
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input name="last_name" class="uk-input uk-form-width-large" placeholder="نام خانوادگی">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: users"></span>
                        </div>
                    </div>

                    <!--student number-->
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input name="college_number" class="uk-input uk-form-width-large" placeholder="شماره دانشجویی" type="number">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: credit-card"></span>
                        </div>
                    </div>

                    <!--national code-->
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input name="social_number" class="uk-input uk-form-width-large" placeholder="کد ملی" type="number">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: world"></span>
                        </div>
                    </div>

                    <!--shabane/rozane-->
                    <div class="uk-margin">
                        <div style="position: relative">
                            <select class="uk-select" name="period">
                                <option>شبانه</option>
                                <option>روزانه</option>
                            </select>
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: thumbnails"></span>
                            <span class="uk-form-icon" uk-icon="icon: chevron-down"></span>
                        </div>
                    </div>

                    <!--reshte-->
                    <div class="uk-margin">
                        <div style="position: relative">
                            <select class="uk-select" name="subject">
                                {% for sub in subject %}
                                    <option value="{{ sub.pk }}">{{ sub.name }}</option>
                                {% endfor %}
                            </select>
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: star"></span>
                            <span class="uk-form-icon" uk-icon="icon: chevron-down"></span>
                        </div>
                    </div>

                    <!--maghta-->
                    <div class="uk-margin">
                        <div style="position: relative">
                            <select class="uk-select" name="section">
                                {% for sec in section %}
                                    <option value="{{ sec.pk }}">{{ sec.name }}</option>
                                {% endfor %}
                            </select>
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: info"></span>
                            <span class="uk-form-icon" uk-icon="icon: chevron-down"></span>
                        </div>
                    </div>

                    <!--submit-->
                    <div class="uk-margin">
                        <button class="uk-button uk-width-1-1 uk-box-shadow-hover-xlarge ubuntu-btn">اضافه
                            <span uk-icon="icon: plus"></span>
                        </button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
    <div class="uk-width-1-3@m">
        <div class="uk-width-1-1 uk-margin-top">
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
            <h3 class="uk-card-title"> فایل حاوی تمام دانشجو ها</h3>
            <hr/>
            <form class="uk-form-stacked" style="margin-top: 32px;" method="post" enctype="multipart/form-data" action="{% url 'Upload Student' %}">
                <div class="uk-margin" uk-margin>
                    <div uk-form-custom="target: true" style="cursor: pointer">
                        <input type="file" name="students_info" accept="text/csv" title="Student File">
                        <input class="uk-input uk-form-width-large" required placeholder="انتخاب فایل" disabled>
                        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: folder"></span>
                    </div>
                </div>
                <div class="uk-margin">
                    <button class="uk-button uk-width-1-1 uk-box-shadow-hover-xlarge ubuntu-btn">آپلود
                        <span uk-icon="icon: upload"></span>
                    </button>
                </div>
                {% csrf_token %}
            </form>
        </div>
        </div>
        <div class="uk-width-1-1 uk-margin-top">
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                <h3 class="uk-card-title">حذف دانشجو</h3>
                <hr/>
                <form class="uk-form-stacked" style="margin-top: 32px;" action="{% url 'Delete Student' %}" method="post">
                    <!--st number-->
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input name="college_number" class="uk-input uk-form-width-large" placeholder="شماره دانشجویی" type="number">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: credit-card"></span>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <button class="uk-button uk-width-1-1 uk-box-shadow-hover-xlarge red-btn">حذف
                            <span uk-icon="icon: trash"></span>
                        </button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
    <div class="uk-width-1-3@m">
        <div class="uk-width-1-1 uk-margin-top">
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
            <h3 class="uk-card-title">مدارک ارسال شده توسط دانشجویان</h3>
            <hr/>
            <div class="uk-margin">
                <a href="{% url 'New Docs' %}" class="uk-button uk-width-1-1 uk-padding-small uk-box-shadow-hover-xlarge ubuntu-btn">مشاهده
                    <span uk-icon="icon: bolt"></span>
                </a>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}