<!doctype html>
<html class="no-js" lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>دانشکده شهید شمسی پور</title>
    <meta name="description" content="اولین بایگانی آنلاین دانشکده فنی شهید شمسی پور">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="author" content="Ashkan Dehbashi | dhs.ashkan@gmail.com">
    <meta name="theme-color" content="#0C76BF">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!--css-->
    <link rel="stylesheet" href="css/template.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/uikit.min.css" />
    <!--js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit-icons.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#header').load('admin-header.html');
        });
    </script>
</head>
<body>
<div id="header"></div>
<div class="uk-grid uk-grid-small padding" uk-grid uk-scrollspy="cls: uk-animation-slide-bottom; target: > div ; delay: 0; repeat: false">
    <div class="uk-width-1-3@m">
        <div class="uk-width-1-1 uk-margin-top">
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                <h3 class="uk-card-title">اضافه کردن دانشجو</h3>
                <hr/>
                <form class="uk-form-stacked" style="margin-top: 32px;">

                    <!--name-->
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input class="uk-input uk-form-width-large" placeholder="نام" type="text">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
                        </div>
                    </div>

                    <!--Family-->
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input class="uk-input uk-form-width-large" placeholder="نام خانوادگی" type="text">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: users"></span>
                        </div>
                    </div>

                    <!--student number-->
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input class="uk-input uk-form-width-large" placeholder="شماره دانشجویی" type="number">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: credit-card"></span>
                        </div>
                    </div>

                    <!--national code-->
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input class="uk-input uk-form-width-large" placeholder="کد ملی" type="number">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: world"></span>
                        </div>
                    </div>

                    <!--shabane/rozane-->
                    <div class="uk-margin">
                        <div style="position: relative">
                            <select class="uk-select">
                                <option>شبانه</option>
                                <option>روزانه</option>
                            </select>
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: thumbnails"></span>
                            <span class="uk-form-icon" uk-icon="icon: chevron-down"></span>
                        </div>
                    </div>

                    <!--reshte-->
                    <div class="uk-margin">
                        <div style="position: relative">
                            <select class="uk-select">
                                <option>کامپیوتر</option>
                                <option>IT</option>
                                <option>الکترونیک</option>
                                <option>حسابداری بازرگانی</option>
                                <option>حسابداری صنعتی</option>
                                <option>حسابداری کارشناسی</option>
                                <option>عمومی</option>
                            </select>
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: star"></span>
                            <span class="uk-form-icon" uk-icon="icon: chevron-down"></span>
                        </div>
                    </div>

                    <!--maghta-->
                    <div class="uk-margin">
                        <div style="position: relative">
                            <select class="uk-select">
                                <option>کارشناسی پیوسته</option>
                                <option>کارشناسی ناپیوسته</option>
                            </select>
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: info"></span>
                            <span class="uk-form-icon" uk-icon="icon: chevron-down"></span>
                        </div>
                    </div>

                    <!--submit-->
                    <div class="uk-margin">
                        <button class="uk-button uk-width-1-1 uk-box-shadow-hover-xlarge blue-btn">اضافه
                            <span uk-icon="icon: plus"></span>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="uk-width-1-3@m">
        <div class="uk-width-1-1 uk-margin-top">
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
            <h3 class="uk-card-title"> فایل حاوی تمام دانشجو ها</h3>
            <hr/>
            <form class="uk-form-stacked" style="margin-top: 32px;">

                <div class="uk-margin" uk-margin>
                    <div uk-form-custom="target: true" style="cursor: pointer">
                        <input type="file">
                        <input class="uk-input uk-form-width-large" type="text" placeholder="انتخاب فایل" disabled>
                        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: folder"></span>
                    </div>
                </div>
                <div class="uk-margin">
                    <button class="uk-button uk-width-1-1 uk-box-shadow-hover-xlarge blue-btn">آپلود
                        <span uk-icon="icon: upload"></span>
                    </button>
                </div>

            </form>
        </div>
        </div>
        <div class="uk-width-1-1 uk-margin-top">
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                <h3 class="uk-card-title">حذف دانشجو</h3>
                <hr/>
                <form class="uk-form-stacked" style="margin-top: 32px;">

                    <!--st number-->
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input class="uk-input uk-form-width-large" placeholder="شماره دانشجویی" type="number">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: credit-card"></span>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <button class="uk-button uk-width-1-1 uk-box-shadow-hover-xlarge red-btn">حذف
                            <span uk-icon="icon: trash"></span>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="uk-width-1-3@m">
        <div class="uk-width-1-1 uk-margin-top">
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
            <h3 class="uk-card-title">مدارک ارسال شده توسط دانشجویان</h3>
            <hr/>
            <div class="uk-margin">
                <a href="view.html" class="uk-button uk-width-1-1 uk-padding-small uk-box-shadow-hover-xlarge blue-btn">مشاهده
                    <span uk-icon="icon: bolt"></span>
                </a>
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>
