{% extends "header-template.html" %}
{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/st-panel.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chocolat/0.4.18/css/chocolat.css">
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chocolat/0.4.18/js/jquery.chocolat.js"></script>
{% endblock %}

{% block content %}
<!--navbar-->
<div class="uk-position-fixed uk-position-z-index uk-width-1-1 uk-animation-slide-top">
    <nav class="uk-navbar-container uk-box-shadow-medium" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="hide">
                    <a href="#modal-full" uk-toggle class="header-items" style="margin-left: 32px;">
                        <span uk-icon="icon: sign-out"></span>
                        <label style="margin-left: 8px;">خروج</label>
                    </a>
                </li>
                <li>
                    <a href="upload.html" class="header-items">
                        <span uk-icon="icon: plus"></span>
                        <label style="margin-left: 8px;">آپلود</label>
                    </a>
                </li>
                <li class="">
                    <a class="header-items hide-btn" style="margin-right: 32px;"  uk-toggle="target: #offcanvas-overlay;">
                        <label style="margin-right: 8px;">مشخصات</label>
                        <span  uk-icon="icon: menu"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li>
                    <label class="logo" style="margin-right: 32px;">بایگانی آنلاین دانشکده شهید شمسی‌ پور</label>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!--background-->
<div class="background"></div>
<!--photos and st-info-->
<div class="uk-text-center row">
    <!--photos-->
    <div class="width tablet-width" style="width: 80%; float: left">
        <div class="uk-text-center padding" uk-scrollspy="cls: uk-animation-scale-up; target: > div > .uk-padding-small; delay: 120; repeat: false">
            <!--cards-->
            <div class="chocolat-parent" data-chocolat-title="">
                <!--card 1-->
                <div class="uk-padding-small width" style="width: 21%; float: left">
                    <div class="container uk-box-shadow-large uk-box-shadow-hover-xlarge">
                        <a class="chocolat-image" href="{% static 'files/example.jpg' %}" title="Winter is here">
                            <img src="{% static 'files/example.jpg' %}" class="image" />
                            <div class="text">Winter is here</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--st info-->
    <div class="width hide" style="width: 20%; float: left; margin-top: 32px;">
        <div class="uk-text-right padding-top uk-position-fixed">
            <h4 class="uk-text-center">مشخصات دانشجو</h4>
            <hr/>
            <!--name-->
            <h6>
                <label>نام و نام خانوادگی:</label>
                <b>اشکان</b>
                <span uk-icon="icon: user"></span>
            </h6>
            <!--filed-->
            <h6 class="field">
                <label>رشته:</label>
                <b>نرم افزار</b>
                <span uk-icon="icon: info"></span>
            </h6>
            <!--st number-->
            <h6>
                <label>شماره دانشجویی:</label>
                <b>123456789</b>
                <span uk-icon="icon: credit-card"></span>
            </h6>
            <!--section-->
            <h6>
                <label>مقطع:</label>
                <b>کاردانی پیوسته</b>
                <span uk-icon="icon: tag"></span>
            </h6>
            <!--entry period-->
            <h6>
                <label>دوره ورود:</label>
                <b>95-96</b>
                <span uk-icon="icon: thumbnails"></span>
            </h6>
        </div>
    </div>
</div>
<!--slide bar-->
<div class="uk-offcanvas-content">

    <div id="offcanvas-overlay" uk-offcanvas="overlay: true; flip: true">
        <div class="uk-offcanvas-bar">
            <div class="uk-text-right">
                <h4 class="uk-text-center">مشخصات دانشجو</h4>
                <hr/>
                <!--name-->
                <h6>
                    <label>نام و نام خانوادگی:</label>
                    <b>اشکان</b>
                    <span uk-icon="icon: user"></span>
                </h6>
                <!--filed-->
                <h6 class="field">
                    <label>رشته:</label>
                    <b>نرم افزار</b>
                    <span uk-icon="icon: info"></span>
                </h6>
                <!--st number-->
                <h6>
                    <label>شماره دانشجویی:</label>
                    <b>123456789</b>
                    <span uk-icon="icon: credit-card"></span>
                </h6>
                <!--section-->
                <h6>
                    <label>مقطع:</label>
                    <b>کاردانی پیوسته</b>
                    <span uk-icon="icon: tag"></span>
                </h6>
                <!--entry period-->
                <h6>
                    <label>دوره ورود:</label>
                    <b>95-96</b>
                    <span uk-icon="icon: thumbnails"></span>
                </h6>
            </div>
        </div>
    </div>

</div>
<!--exit modal-->
<div id="modal-full" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog" style="height: 100%">
        <svg class="exit-svg" viewBox="0 0 500 130" preserveAspectRatio="xMinYMin meet">
            <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill: #855AAB;"></path>
        </svg>
        <div class="uk-position-top-center" style="margin-top: 128px;">
            <h1 class="confirm-message">آیا مطمئنید میخواهید خارج شوید؟</h1>
        </div>
        <div class="uk-position-bottom-center" style="margin-bottom: 128px;">
            <div class="uk-padding-large uk-text-center">
                <a href="{% url 'Logout' %}"><button class="uk-button yes-no blue">بله</button></a>
                <button class="uk-button yes-no red uk-modal-close-default">خیر</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
