{% extends "header-template.html" %}
{% load staticfiles %}

{% block header %}
    <meta name="theme-color" content="#6C7AFE">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
    <link rel="stylesheet" href="{% static 'css/st-panel.css' %}">
    <link rel="stylesheet" href="{% static 'css/snackbar.css' %}">
{% endblock %}


{% block uploader %}
    {% include "upload.html" %}
{% endblock %}


{% block content %}
    <!--navbar-->
    <div class="uk-position-fixed uk-position-z-index uk-width-1-1">
        <nav class="uk-navbar-container uk-box-shadow-medium" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#modal-full" uk-toggle class="header-items" style="margin-left: 32px;">
                            <span uk-icon="icon: sign-out"></span>
                            <label style="margin-left: 8px;">خروج</label>
                        </a>
                    </li>
                    <li>
                        <a class="header-items" uk-toggle href="#modal-upload">
                            <span uk-icon="icon: plus"></span>
                            <label style="margin-left: 8px;">آپلود</label>
                        </a>
                    </li>
                    <li>
                        <a class="header-items hide-btn" style="margin-right: 32px;"  uk-toggle="target: #offcanvas-overlay;">
                            <label style="margin-right: 8px;">مشخصات</label>
                            <span  uk-icon="icon: menu"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <label class="logo" style="margin-right: 32px;">بایگانی آنلاین دانشکده شهید شمسی‌ پور</label>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--background-->
    <div class="background"></div>
    <!--photos and st-info-->
    <div class="uk-text-center">
        <!--photos-->
        <div class="uk-text-center padding photo-width" style="float: left; width: 70%; position: relative; left: 2.5%" uk-scrollspy="cls: uk-animation-scale-up; target: > div > div; delay: 120; repeat: false">
            <!--cards-->
            <div class="card-columns" uk-lightbox="animation: scale">
                <!--card 1-->
                {% for i in docs %}
                    <div class="card">
                        <a href="/media?image={{ i.doc.url}}" data-caption="{{ i.type }}">
                            <img src="/media?image={{ i.doc.url }}" class="image"/>
                        </a>
                        <div class="text" itemprop="caption description">{{ i.type }}</div>
                        {% if i.status == 'A' %}
                            <div class="state"><label class="tb-green">تأیید شده <span uk-icon="icon: check"></span></label></div>
                        {% elif i.status == 'R' %}
                            <div class="state"><label class="tb-red">تأیید نشده <span uk-icon="icon: close"></span></label></div>
                        {% else %}
                            <div class="state"><label class="tb-yellow">در انتظار تأیید <span uk-icon="icon: clock"></span></label></div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <!--st info-->
        <div class="width hide" style="width: 20%; float: right;">
            <div class="uk-text-right padding-top uk-position-fixed uk-margin-right" style="right: 0">
                <h4 class="uk-text-center">مشخصات دانشجو</h4>
                <hr/>
                <!--st number-->
                <h6>
                    <label>شماره دانشجویی:</label>
                    <b>{{ request.session.student_college_number }}</b>
                    <span uk-icon="icon: credit-card"></span>
                </h6>
                <!--name-->
                <h6>
                    <label>نام:</label>
                    <b>{{ request.session.student_first_name }}</b>
                    <span uk-icon="icon: user"></span>
                </h6>
                <!--family name-->
                <h6>
                    <label>نام خانوادگی:</label>
                    <b>{{ request.session.student_last_name }}</b>
                    <span uk-icon="icon: users"></span>
                </h6>
                <!--filed-->
                <h6 class="field">
                    <label>رشته:</label>
                    <b>{{ request.session.student_subject }}</b>
                    <span uk-icon="icon: info"></span>
                </h6>
                <!--section-->
                <h6>
                    <label>مقطع:</label>
                    <b>{{ request.session.student_section }}</b>
                    <span uk-icon="icon: tag"></span>
                </h6>
                <!--entry period-->
                <h6>
                    <label>دوره:</label>
                    <b>{{ request.session.student_period }}</b>
                    <span uk-icon="icon: thumbnails"></span>
                </h6>
            </div>
        </div>
    </div>
    <!--slide bar-->
    <div class="uk-offcanvas-content" style="display: block">

        <div id="offcanvas-overlay" uk-offcanvas="overlay: true; flip: true">
            <div class="uk-offcanvas-bar">
                <div class="uk-text-right">
                    <h4 class="uk-text-center">مشخصات دانشجو</h4>
                    <hr/>
                    <!--st number-->
                    <h6>
                        <label>شماره دانشجویی:</label>
                        <b>{{ request.session.student_college_number }}</b>
                        <span uk-icon="icon: credit-card"></span>
                    </h6>
                    <!--name-->
                    <h6>
                        <label>نام:</label>
                        <b>{{ request.session.student_first_name }}</b>
                        <span uk-icon="icon: user"></span>
                    </h6>
                    <!--family name-->
                    <h6>
                        <label>نام خانوادگی:</label>
                        <b>{{ request.session.student_last_name }}</b>
                        <span uk-icon="icon: users"></span>
                    </h6>
                    <!--filed-->
                    <h6 class="field">
                        <label>رشته:</label>
                        <b>{{ request.session.student_subject }}</b>
                        <span uk-icon="icon: info"></span>
                    </h6>
                    <!--section-->
                    <h6>
                        <label>مقطع:</label>
                        <b>{{ request.session.student_section }}</b>
                        <span uk-icon="icon: tag"></span>
                    </h6>
                    <!--entry period-->
                    <h6>
                        <label>دوره:</label>
                        <b>{{ request.session.student_period }}</b>
                        <span uk-icon="icon: thumbnails"></span>
                    </h6>
                </div>
            </div>
        </div>

    </div>
    <!--exit modal-->
    <div id="modal-full" class="uk-modal-full" uk-modal>
        <div class="uk-modal-dialog" style="height: 100%">
            <svg class="exit-svg" viewBox="0 0 500 130" preserveAspectRatio="xMinYMin meet">
                <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill: #855AAB;"></path>
            </svg>
            <div class="uk-position-top-center" style="margin-top: 100px;">
                <h1 class="confirm-message">آیا مطمئنید میخواهید خارج شوید؟</h1>
            </div>
            <div class="uk-position-bottom-center" style="margin-bottom: 128px;">
                <div class="uk-padding-large uk-text-center">
                    <a href="{% url 'Logout' %}"><button class="uk-button yes-no blue">بله</button></a>
                    <button class="uk-button yes-no red uk-modal-close-default">خیر</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}