<div id="modal-upload" uk-modal>
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h2 class="uk-modal-title uk-text-center">آپلود مدرک</h2>
        </div>
        <div class="uk-modal-body">
            <form class="uk-form-stacked" id="main" method="post" enctype="multipart/form-data" action="{% url 'Upload' %}">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-select">لطفا موضوع فایل آپلود خود را انتخاب کنید!</label>
                    <div class="uk-form-controls">
                        <select class="uk-select upload-select uk-border-rounded" id="form-stacked-select" v-model="visibility" name="type">
                            {% for i in primary_docs %}
                                <option value="{{ i.name }}">{{ i.name }}</option>
                            {% endfor %}
                            <option value="true">غیره</option>
                        </select>
                    </div>
                    <div class="uk-margin">
                        <div v-if="visibility == 'true'" class="uk-inline" uk-form-custom="target: true">
                            <a class="uk-form-icon uk-form-icon-flip" uk-icon="icon: plus"></a>
                            <input class="uk-input upload-input" name="type" placeholder="لطفا نام مدرک خود را وارد کنید.">
                        </div>
                    </div>
                </div>
                <div class="uk-margin" uk-margin>
                    <div class="uk-inline" uk-form-custom="target: true">
                        <a class="uk-form-icon uk-form-icon-flip" uk-icon="icon: pull"></a>
                        <input type="file" name="image" accept="image/*" maxlength="250">
                        <input class="uk-input upload-input" placeholder="فایل مورد نظر را انتخاب کنید!" disabled>
                    </div>
                    {% csrf_token %}
                    {% if request.session.student_college_number %}
                    <input type="hidden" name="student" value="{{ request.session.student_college_number }}">
                    {% elif student_info.college_number %}
                    <input type="hidden" name="student" value="{{ student_info.college_number }}">
                    {% endif %}
                </div>
                <div class="uk-margin" style="direction:rtl; font-family: Samim">
                    <p>* حجم فایل نباید بیشتر از ۲۵۰ کیلوبایت باشد.</p>
                </div>
                <div class="uk-modal-footer uk-text-left">
                    <button class="uk-button modal-btn blue-color" type="submit">آپلود
                        <span uk-icon="icon: upload"></span>
                    </button>
                    <button class="uk-button modal-btn red-color uk-modal-close" type="button">انصراف
                        <span uk-icon="icon: close"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var ShowOthers = new Vue({
        el: '#main',
        data: {
            visibility: false
        }
    })
</script>