{% extends "admin-header.html" %}
{% load staticfiles %}

{% block admin_header %}
    <link rel="stylesheet" href="{% static 'css/view-staff.css' %}">
{% endblock %}

{% block admin_content %}
    <!--cards-->
    <div class="uk-grid uk-grid-small padding " uk-grid uk-scrollspy="cls: uk-animation-slide-bottom; target: > div ; delay: 0; repeat: false">
        {% for i in staffers %}
            <div class="uk-width-1-4@m">
                <div class="uk-card uk-card-default uk-border-rounded">
                    <div  class="uk-card-body uk-text-right" uk-grid>
                        <!--name-->
                        <h6 class="uk-width-1-1 staff-info">
                            <span uk-icon="icon: user"></span>
                            <label>نام:</label>
                            <b>{{ i.user.first_name }}</b>
                        </h6>
                        <!--family name-->
                        <h6 class="uk-width-1-1 staff-info">
                            <span uk-icon="icon: users"></span>
                            <label>نام خانوادگی:</label>
                            <b>{{ i.user.last_name }}</b>
                        </h6>
                        <!--username-->
                        <h6 class="uk-width-1-1 staff-info">
                            <span uk-icon="icon: credit-card"></span>
                            <label>نام کاربری:</label>
                            <b>{{ i.user.username }}</b>
                        </h6>
                        <!--email-->
                        <h6 class="uk-width-1-1 staff-info">
                            <span uk-icon="icon: mail"></span>
                            <label>ایمیل: </label>
                            <b>{{ i.user.email }}</b>
                        </h6>
                        <!--job-->
                        <h6 class="uk-width-1-1 staff-info">
                            <span uk-icon="icon: bookmark"></span>
                            <label>نوع کاربر: </label>
                            <b>{{ i.get_job_display }}</b>
                        </h6>
                    </div>
                    <div class="uk-card-footer">
                        <form onsubmit="return confirm('آیا مطمئن هستید؟!')" action="{% url 'Delete Staff' %}" method="post">
                            <button style="width: 100%;background:transparent;" class="uk-button view-btn red-btn">حذف
                                <span uk-icon="icon: trash"></span>
                            </button>
                            {% csrf_token %}
                            <input type="hidden" name="username" value="{{ i.user.username }}">
                        </form>
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
    <!--add staff button-->
    <div class="uk-position-bottom-right uk-position-fixed uk-padding">
        <a href="#modal-add" uk-toggle class="uk-button uk-border-circle add-btn" title="اضافه کردن کارمند" uk-tooltip>
            <span uk-icon="icon: plus; ratio: 1.3"></span>
        </a>
    </div>
    <!--add staff-->
    <div id="modal-add" uk-modal>
        <div class="uk-modal-dialog">
            <div class="uk-modal-header">
                <h2 class="uk-modal-title uk-text-center">اضافه کردن کارمند</h2>
            </div>
            <div class="uk-modal-body" uk-overflow-auto>
                <form class="uk-form-stacked" style="margin-top: 32px;" method="post" action="{% url 'Add Staff' %}">
                    <!--name-->
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input required name="first_name" class="uk-input" placeholder="نام">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
                        </div>
                    </div>

                    <!--family name-->
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input name="last_name" class="uk-input" required placeholder="نام خانوادگی">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: users"></span>
                        </div>
                    </div>

                    <!--email-->
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input name="email" required class="uk-input" placeholder="ایمیل" type="email">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: mail"></span>
                        </div>
                    </div>

                    <!--maghta-->
                    <div class="uk-margin">
                        <div style="position: relative">
                            <select class="uk-select" required name="job">
                                <option value="B">مسئول بایگانی</option>
                                <option value="N">همکار معمولی</option>
                                <option value="A">ادمین</option>
                            </select>
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: info"></span>
                            <span class="uk-form-icon" uk-icon="icon: chevron-down"></span>
                        </div>
                    </div>

                    <!--username-->
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input name="username" required class="uk-input" placeholder="نام کاربری">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
                        </div>
                    </div>

                    <!--password-->
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <input name="password" required class="uk-input" placeholder="رمزعبور" type="password">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                        </div>
                    </div>
                    {% csrf_token %}
                    <div class="uk-modal-footer uk-text-left">
                        <button class="uk-button modal-btn blue-color">اضافه
                            <span uk-icon="icon: plus"></span>
                        </button>
                        <button class="uk-button modal-btn red-btn uk-modal-close" type="button">انصراف
                            <span uk-icon="icon: close"></span>
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}
