@font-face {
    font-family: 'Vazir';
    src: url('../files/fonts/Vazir-Light.ttf') format('truetype'),
    url('../files/fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('../files/fonts/Vazir-Light.woff') format('woff'),
    url('../files/fonts/Vazir-Light.eot');
}

@font-face {
    font-family: 'Khandevane';
    src: url('../files/fonts/Khandevane.ttf') format('truetype');
}
