.background{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #2196F3, #E91E63);
    transform: skewY(-30deg);
    -webkit-transform: skewY(-30deg);
    transform-origin: top left;
}
h6{
    font-family: Vazir !important;
}
.uk-navbar-container{
    background: #fff !important;
}
.header-items{
    background: transparent !important;
    color: #000 !important;
}
.header-items,
.header-items span,
.header-items label{
    cursor: pointer !important;
}
.header-items:hover{
    color: #E91E63 !important;
}
.header-items:active{
    color: #fff !important;
    background: rgba(255,255,255,0.4) !important;
}
.header-items label{
    font-family: Vazir !important;
}
.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
    height: 60px !important;
    padding: 0 15px !important;
}
.field{
    font-family: Vazir !important;
    color: rgba(0,0,0,0.7) !important;
}
.uk-offcanvas-bar h6, .uk-offcanvas-bar h4{
    color: #767676 !important;
}
hr{
    border-top: 1px solid rgba(0,0,0,0.2) !important;
}
.uk-offcanvas-bar{
    background: #fff !important;
}
.padding{
    padding: 100px 0 !important;
}
.padding-top{
    padding: 10% 10px;
}
.image {
    display: block !important;
    width: 100% !important;
    height: auto !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    cursor: zoom-in !important;
}
.text {
    width: 100% !important;
    text-align: center !important;
    font-family: Vazir !important;
    color: #000 !important;
    direction: rtl !important;
    background: #fff !important;
    font-size: 18px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.state{
    text-align: center !important;
    font-family: Vazir !important;
    direction: rtl !important;
    font-size: 18px !important;
    color: #fff;
}
.state label{
    width: 100%;
    display: inline-block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo, h4{
    font-family: Vazir !important;
    color: #000 !important;
    cursor: default !important;
    font-weight: lighter !important;
}
.container {
    width: 100%;
    float: left;
}
.card-columns {
    -webkit-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 10px;
    column-gap: 10px;
}
.card-columns .card {
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.uk-modal-close-default{
    position: relative !important;
    top: 0 !important;
    right: 0 !important;
    margin-left: 16px !important;
}
.confirm-message{
    font-family: Vazir !important;
    color: #fff !important;
}
.yes-no{
    font-family: Vazir !important;
    font-size: 18px !important;
    border-radius: 2em !important;
    padding: 0 65px !important;
    line-height: 50px !important;
    background: transparent !important;
}
.blue{
    border: 2px solid #2196F3 !important;
    color: #2196F3 !important;
}
.blue:hover{
    background: #2196F3 !important;
    color: #fff !important;
}
.red{
    border: 2px solid #F44336 !important;
    color: #F44336 !important;
}
.red:hover{
    background: #F44336 !important;
    color: #fff !important;
}
.exit-svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
.tb-yellow{  background: #FFC107;  }
.tb-green{  background: #4CAF50;  }
.tb-red{  background: #F44336;  }
.uk-lightbox-toolbar {
    background: rgba(0,0,0,.5) !important;
    color: rgba(255,255,255,1) !important;
    font-family: Vazir !important;
    direction: rtl !important;
}
@media screen and (max-width: 699px){
    .background{
        transform: skewY(0) !important;
        height: 50% !important;
    }
    .width{
        width: 100% !important;
    }
    .hide, .logo{
        display: none !important;
    }
    .header-items{
        font-size: 14px !important;
    }
    .confirm-message{
        color: #000 !important;
        font-size: 22px !important;
    }
    .yes-no{
        font-size: 14px !important;
        padding: 0 45px !important;
        line-height: 45px !important;
    }
    .modal-btn{
        width: 100% !important;
        margin-top: 8px !important;
    }
    .card-columns {
        -webkit-column-count: 1 !important;
        column-count: 1 !important;
    }
    .photo-width{
        width: 80% !important;
        left: 10% !important;
    }
}
@media screen and (min-width: 700px) and (max-width: 1200px){
    .background{
        transform: skewY(0) !important;
        height: 50% !important;
    }
    .tablet-width{
        width: 100% !important;
    }
    .hide{
        display: none !important;
    }
    .photo-width{
        width: 95% !important;
        left: 2.5% !important;
    }
}
@media screen and (min-width: 1201px) and (max-width: 3000px){
    .hide-btn{
        display: none !important;
    }
}
