.padding{
    padding: 80px 20px !important;
}
.uk-card{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
    position: relative !important;
    background: #fff !important;

}
.uk-card-title{
    font-size: 18px !important;
    font-family: Vazir !important;
    text-align: center !important;
    color: #000 !important;
    margin: 0 !important;
}
.uk-input,
.uk-select{
    position: relative !important;
    font-family: Vazir !important;
    background: #EEEEEE !important;
    color: #000 !important;
    direction: rtl !important;
    font-size: 16px !important;
    text-indent: 30px !important;
    text-align: right !important;
    border: none !important;
    border-radius: 2em !important;
    -webkit-transition: 200ms cubic-bezier(0.4, 0.0, 0.2, 1) !important;
    -moz-transition: 200ms cubic-bezier(0.4, 0.0, 0.2, 1) !important;
    transition: 200ms cubic-bezier(0.4, 0.0, 0.2, 1) !important;
}
.uk-input, .uk-select:not([multiple]):not([size]) {
    height: 45px !important;
}
.uk-input:focus,
.uk-input:active,
.uk-select:focus,
.uk-select:active{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}
.uk-input::placeholder{
    color: #000 !important;
}
.uk-form-icon{
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
}
.uk-button{
    font-family: Vazir !important;
    direction: rtl !important;
    font-size: 16px !important;
    text-align: center !important;
    background: transparent;
    border-radius: 2em !important;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
    transition: all 0.3s ease!important;
    cursor: pointer !important;
    line-height: 45px !important;
}
.uk-button:hover{
    transform: scale(1.05) !important;
}
.red-btn{
    color: #f44336 !important;
    border: 2px solid #f44336 !important;
}
.red-btn:hover,
.red-btn:focus{
    color: #fff !important;
    background: #f44336 !important;
    box-shadow: 0 14px 25px rgba(244, 67, 54, 0.30);
}
.ubuntu-btn{
    color: #C4546A !important;
    border: 2px solid #C4546A !important;
}
.ubuntu-btn:hover,
.ubuntu-btn:focus{
    color: #fff !important;
    background: #C4546A !important;
    box-shadow: 0 14px 25px rgba(196, 84, 106, 0.30);
}
.add-green{
    color: #4CAF50 !important;
    border: 2px solid #4CAF50 !important;
}
.add-green:hover {
    color: #fff !important;
    background: #4CAF50 !important;
    box-shadow: 0 14px 25px rgba(76, 175, 80, 0.30);
}
.add-green:active,
.ubuntu-btn:active,
.red-btn:active{
    box-shadow: none;
}
.uk-form-icon{color: #000}
.uk-select {
    background-image: none !important;
    cursor: pointer !important;
}
/*table*/
.rec-table{
    font-family: Vazir !important;
    text-align: center !important;
    direction: rtl !important;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
}
.uk-table th {
    text-align: center !important;
}
.edit-input{display: none; position: relative}
.edit-input-style{
    position: relative !important;
    font-family: Vazir !important;
    background: #EEEEEE !important;
    color: #000 !important;
    direction: rtl !important;
    font-size: 14px !important;
    text-indent: 10px !important;
    text-align: right !important;
    border: none !important;
    border-radius: 2em !important;
    outline: 0 !important;
}
.save{
    position: relative;
    background: #4CAF50;
    color: #fff;
    border-radius: 2em;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    font-size: 14px;
}
.save:hover{
    color: #ffffff;
    text-decoration: none;
    background: #388E3C;
}
.edit-style:hover{color: #C4546A !important;}
/*eduction*/
.uk-modal-title{
    font-family: Vazir !important;
    font-size: 20px !important;
    font-weight: bold !important;
    direction: rtl !important;
}
.add-btn-blue{
    color: #2196F3 !important;
}
.add-btn-blue:hover{
    background: rgba(33, 150, 243, 0.2) !important;
}
.add-btn-blue:active{
    background: rgba(33, 150, 243, 0.4) !important;
}
.add--btn-red{
    color: #F44336 !important;
}
.add--btn-red:hover{
    background: rgba(244, 67, 54, 0.2) !important;
}
.add--btn-red:active{
    background: rgba(244, 67, 54, 0.4) !important;
}
@media screen and (max-width: 699px){
    .uk-table th {
        padding: 5px 5px !important;
    }
    .uk-table td {
        font-size: 14px !important;
    }
}
@media screen and (min-width: 700px) and (max-width: 1200px){
    .uk-form-width-large{
        width: 700px !important;
    }
}
