.uk-modal-title{
    font-family: Vazir !important;
    font-size: 20px !important;
    font-weight: bold !important;
    direction: rtl !important;
}
.uk-form-label{
    font-family: Vazir !important;
    direction: rtl !important;
    color: #333 !important;
}
.uk-select,
.uk-input{
    color: #333 !important;
    direction: rtl !important;
    text-align: right !important;
    font-family: Vazir !important;
    text-indent: 15px !important;
    border: 1px solid #e5e5e5 !important;
}
.uk-input{
    width: 600px !important;
    border-radius: 5px !important;
    background: transparent !important;
    text-indent: 30px !important;
}
.uk-input::placeholder{
    color: #333 !important;
}
.uk-select option{
    background: #fff !important;
    border: none!important;
}
.test-upload span{
    direction: rtl !important;
    text-align: right !important;
}
.modal-btn{
    cursor: pointer !important;
    border-radius: 2em !important;
    font-family: Vazir !important;
    direction: rtl !important;
    background: transparent !important;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
}
.red-color{
    color: #F44336 !important;
}
.red-color:hover{
    background: #F44336 !important;
    color: #fff !important;
}
.blue-color{
    background: #2196F3 !important;
    color: #fff !important;
}
