.padding{
    padding: 100px 70px !important;
}
.uk-modal-body {
    padding: 5px 30px !important;
}
.uk-card{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
    position: relative !important;
}
.uk-card-body {
    padding: 30px 20px !important;
}
.uk-card-title{
    font-size: 17px !important;
    font-family: Vazir !important;
    text-align: center !important;
    color: #000 !important;
}
.staff-info{
    font-family: Vazir !important;
    direction: rtl !important;
}
.st-name{
    font-family: Vazir !important;
    font-size: 16px !important;
    color: #fff !important;
}
.st-icon{
    color: #fff !important;
}
.view-btn{
    font-family: Vazir !important;
    direction: rtl !important;
    font-size: 16px !important;
    text-align: center !important;
    color: #fff !important;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
    cursor: pointer !important;
    line-height: 45px !important;
    padding: 0 22px !important;
    border-radius: 2em !important;
}
.green{
    color: #4CAF50 !important;
}
.green:hover {
    background: rgba(76, 175, 80, 0.2) !important;
}
.green:active {
    background: rgba(76, 175, 80, 0.4) !important;
}
.red-btn{
    color: #F44336 !important;
}
.red-btn:hover{
    background: rgba(244, 67, 54, 0.2) !important;
}
.red-btn:active {
    background: rgba(244, 67, 54, 0.4) !important;
}
.gery{
    color: #607D8B !important;
}
.gery:hover{
    background: rgba(69, 90, 100, 0.2) !important
}
.gery:active{
    background: rgba(69, 90, 100, 0.4) !important
}
/*search*/
.add-btn{
    padding: 11px 19px !important;
    background: #4CAF50;
    color: #fff !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
}
.add-btn:hover {
    background: #388E3C !important;
}
.add-btn span{ vertical-align: middle !important; margin-top: -3px;}
.uk-tooltip{
    font-size: 14px !important;
    font-family: Vazir !important;
    direction: rtl !important;
}
.uk-modal-title{
    font-size: 22px !important;
    font-family: Vazir !important;
    text-align: center !important;
    color: #000 !important;
    margin: 0 !important;
}
.uk-input,
.uk-select{
    position: relative !important;
    font-family: Vazir !important;
    background: #EEEEEE !important;
    color: #000 !important;
    direction: rtl !important;
    font-size: 16px !important;
    text-indent: 30px;
    text-align: right !important;
    width: 600px !important;
    border: none !important;
    border-radius: 2em !important;
    -webkit-transition: 200ms cubic-bezier(0.4, 0.0, 0.2, 1) !important;
    -moz-transition: 200ms cubic-bezier(0.4, 0.0, 0.2, 1) !important;
    transition: 200ms cubic-bezier(0.4, 0.0, 0.2, 1) !important;
}
@-moz-document url-prefix() {
    .uk-select{text-indent: 10px !important;}
}
.uk-select{text-indent: 18px}
.uk-input, .uk-select:not([multiple]):not([size]) {
    height: 45px !important;
}
.uk-input:focus,
.uk-input:active,
.uk-select:focus,
.uk-select:active{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}
.uk-input::placeholder{
    color: #000 !important;
}
.modal-btn{
    cursor: pointer !important;
    border-radius: 2em !important;
    font-family: Vazir !important;
    direction: rtl !important;
    background: transparent !important;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
}
.blue-color{
    color: #2196F3 !important;
}
.blue-color:hover{
    background: rgba(33, 150, 243, 0.2) !important;
}
.blue-color:active{
    background: rgba(33, 150, 243, 0.4) !important;
}
.uk-form-icon{
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
}
@media screen and (max-width: 699px){
    .view-btn{
        width: 100% !important;
        margin-top: 8px !important;
    }
    .chocolat-parent{
        display: block !important;
    }
    .image-width{
        width: 40px !important;
    }
    .uk-card-title{
        font-size: 14px !important;
    }
    .card-padding{
        padding-right: 10px !important; padding-left: 10px !important;
    }
    .padding{
        padding: 100px 10px !important;
    }
}
@media screen and (min-width: 960px) and (max-width: 1350px){
    .view-btn{
        margin-top: 8px !important;
    }
    .image-width{
        width: 40px !important;
    }
    .uk-card-title{
        font-size: 14px !important;
    }
}
@media screen and (min-width: 700px) and (max-width: 3000px){

}
